html,
body {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  color: $black;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input,
textarea {
  padding: 7px 10px;
  width: 100%;
  max-width: 320px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;
  resize: none;
}

.videoBlock__thumbnail {
  width: 400px;
  height: 250px;
}

button {
  border: none;
  background-color: $mint;
  color: white;
}

button.delete {
  background-color: $rose;
}
