html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

html,
body {
  height: 100%; }

body {
  background-color: #f5f5f5;
  color: #444444;
  font-size: 14px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 70vh; }

button,
input:not([type="file"]),
textarea,
.fileUpload {
  padding: 7px 10px;
  width: 100%;
  max-width: 320px;
  border: none;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  background-color: white;
  color: #444444;
  font-weight: 600;
  resize: none; }

button {
  border: none;
  background-color: #3b8d99;
  color: white; }

.fileUpload {
  background-color: white;
  margin-bottom: 20px; }

button,
input[type="submit"] {
  cursor: pointer; }

.header {
  background: #aa4b6b;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#aa4b6b), color-stop(#6b6b83), to(#3b8d99));
  background: -webkit-linear-gradient(left, #aa4b6b, #6b6b83, #3b8d99);
  background: -moz-linear-gradient(left, #aa4b6b, #6b6b83, #3b8d99);
  background: -o-linear-gradient(left, #aa4b6b, #6b6b83, #3b8d99);
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 50px; }
  .header .header__wrapper {
    padding: 4px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header__wrapper .header__column i {
      color: white;
      font-size: 40px; }
    .header .header__wrapper .header__column:nth-child(2) {
      width: 100%;
      justify-self: center; }
    .header .header__wrapper .header__column:last-child {
      justify-self: end; }
    .header .header__wrapper .header__column ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      color: white;
      text-transform: uppercase;
      font-weight: 600; }
      .header .header__wrapper .header__column ul li:not(:last-child) {
        margin-right: 15px; }
    .header .header__wrapper .header__column form {
      width: 100%; }
      .header .header__wrapper .header__column form input {
        width: 100%;
        padding: 8px 10px;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        font-size: 15px;
        font-weight: 600; }
        .header .header__wrapper .header__column form input::-webkit-input-placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }
        .header .header__wrapper .header__column form input:-moz-placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }
        .header .header__wrapper .header__column form input::-moz-placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }
        .header .header__wrapper .header__column form input:-ms-input-placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }
        .header .header__wrapper .header__column form input::-ms-input-placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }
        .header .header__wrapper .header__column form input::placeholder {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5); }

@media screen and (max-width: 768px) {
  .header__column {
    padding: 0px 10px; }
    .header__column:nth-child(2) {
      padding: 0; } }

.footer {
  margin: 50px 0;
  padding-top: 50px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .footer__icon {
    color: #aa4b6b;
    opacity: 0.6;
    font-size: 24px;
    margin-bottom: 10px; }
  .footer .footer__text {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-transform: uppercase; }

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container a > button {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding: 8px 10px; }
  .form-container form {
    width: 100%;
    max-width: 320px;
    margin-bottom: 35px; }
    .form-container form input:not([type="file"]),
    .form-container form .fileUpload {
      width: 100%;
      padding: 8px 10px;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;
      font-size: 15px;
      font-weight: 600;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3); }
      .form-container form input:not([type="file"])::-webkit-input-placeholder, .form-container form .fileUpload::-webkit-input-placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"]):-moz-placeholder, .form-container form .fileUpload:-moz-placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"])::-moz-placeholder, .form-container form .fileUpload::-moz-placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"]):-ms-input-placeholder, .form-container form .fileUpload:-ms-input-placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"])::-ms-input-placeholder, .form-container form .fileUpload::-ms-input-placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"])::placeholder,
      .form-container form .fileUpload::placeholder {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.5); }
      .form-container form input:not([type="file"]):not(:last-child),
      .form-container form .fileUpload:not(:last-child) {
        margin-bottom: 25px; }
    .form-container form textarea {
      margin-bottom: 25px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.3); }
    .form-container form input[type="submit"] {
      background-color: #3b8d99;
      color: white; }
  .form-container .form-container__link--delete,
  .form-container .changePassword {
    width: 100%;
    max-width: 320px; }
  .form-container .form-container__link--delete > button {
    background-color: #aa4b6b; }
  .form-container .changePassword > button {
    background-color: #aa4b6b; }
  .form-container .fileUpload label {
    font-weight: 400;
    margin-right: 10px; }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-login button {
    width: 100%;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .social-login button:not(:last-child) {
      margin-bottom: 10px; }
    .social-login button span {
      margin-right: 10px;
      font-size: 18px; }
  .social-login .social-login--github {
    background-color: #444444;
    color: white; }
  .social-login .social-login--facebook {
    background-color: #3a5998;
    color: white; }

.videoBlock video {
  max-width: 100%;
  margin-bottom: 10px; }

.videoBlock .videoBlock__title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px; }

.video-detail__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px; }
    .video-detail__container .video__info button {
      width: 100px;
      margin-bottom: 25px; }
    .video-detail__container .video__info .video__title,
    .video-detail__container .video__info .video__views,
    .video-detail__container .video__info .video__comments,
    .video-detail__container .video__info .video__description {
      margin-bottom: 15px;
      display: block; }
    .video-detail__container .video__info .video__title {
      font-size: 22px; }
    .video-detail__container .video__info .video__views {
      font-size: 16px; }
    .video-detail__container .video__info .video__description {
      font-size: 18px; }
  .video-detail__container .video__comments {
    margin-top: 25px; }
    .video-detail__container .video__comments .video__comment-number {
      font-size: 18px; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px; }
  .home-videos .videoBlock:first-child,
  .home-videos .videoBlock:nth-child(2) {
    grid-column: span 3; }
  .home-videos .videoBlock:nth-child(3),
  .home-videos .videoBlock:nth-child(4),
  .home-videos .videoBlock:nth-child(5) {
    grid-column: span 2; }

@media screen and (max-width: 768px) {
  .home-videos {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin: 0px 10px; }
    .home-videos .videoBlock:first-child,
    .home-videos .videoBlock:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: span 2; }
    .home-videos .videoBlock:nth-child(3),
    .home-videos .videoBlock:nth-child(4),
    .home-videos .videoBlock:nth-child(5) {
      grid-column: span 1; } }
